@page "/login"
@model AppointmentApp.Areas.Identity.Pages.Account.LoginModel
<div class="row m-auto">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h3>Log in to your account</h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Username" class="form-control" autoautocomplete="username" aria-required="true" />
                    <label asp-for="Input.Username" class="form-label">Username</label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autoautocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button id="login-submit" type="submit" class="w100 btn btn-lg btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@{

}
